In [1]:
from tqdm.notebook import tqdm
import pandas as pd
import pickle
import numpy as np

# wiki_data

In [4]:
with open('./source/wiki_science_df.pickle', 'rb') as handle:
    dtf_1 = pickle.load(handle)

In [6]:
# dtf_1.head()

In [7]:
with open('./source/wiki_processing_df_youdong.pickle', 'rb') as handle:
    dtf_2 = pickle.load(handle)

In [8]:
dtf_2.head()

,num_col,num_row,max_cell_length,avg_length,length_variance,pg_title,section_title,table_caption,columns,values,y,X
0,4.0,11.0,46.0,41.151515,34.734619,Mid Antrim (Northern Ireland Parliament consti...,Members of Parliament,Members of Parliament,Election Election Member Party,"1929, Northern Ireland general election, 1929...",society,Mid Antrim (Northern Ireland Parliament consti...
1,2.0,1.0,18.0,18.000000,0.000000,Whispermoon,,Track listing,Professional ratings Professional ratings Revi...,"Allmusic, Allmusic",music,Whispermoon Track listing Professional rating...
2,2.0,6.0,33.0,13.583333,52.243056,Khalsa Diwan Society Vancouver,First executive committee,First executive committee,Title Person,President Bhai Sewa Singh Vice President Bhai ...,society,Khalsa Diwan Society Vancouver First executive...
3,2.0,7.0,39.0,20.142857,355.693878,Julien Leparoux,Year-end charts,Year-end charts,Chart (2006â€“present) Peak position,National Earnings List for Jockeys 2006 8 Nati...,racing,Julien Leparoux Year-end charts Year-end chart...
4,5.0,2.0,34.0,13.750000,121.187500,Real Voice,Charts,Charts,Release Chart Peak Position Sales Total Chart Run,28 February 2007 Oricon Weekly Singles Chart W...,music,Real Voice Charts Charts Release Chart Peak Po...

In [26]:
dtf = pd.concat([dtf_1, dtf_2])
dtf['X'] = dtf['pg_title'] + ' ' +\
               dtf['section_title'] + ' ' +\
               dtf['table_caption'] + ' ' +\
               dtf['columns'] + ' ' +\
               dtf['values'] # + ' ' +\

In [27]:
football_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('football' in row['X'].lower() or 'world cup' in row['X'].lower() or\
        'npsl' in row['X'].lower() or 'fifa' in row['X'].lower() or\
       'mcgrath cup' in row['X'].lower() or 'balkans cup' in row['X'].lower() or\
        
       'hakeem nicks' in row['X'].lower() or 'nfl'  in row['X'].lower() or\
        'alan risher' in row['X'].lower() or\
        'jamie heaslip' in row['X'].lower() or\
        'kitch christie' in row['X'].lower() or\
        'county cup' in row['X'].lower() or\
        'russian championship'  in row['X'].lower() or\
        'jamie heaslip' in row['X'].lower() or\
        'fred besana' in row['X'].lower() or\
        
       'afc' in row['X'].lower() or\
        
        'soccer' in row['X'].lower() or\
        'CE JÃºpiter' in row['X'] or\
        'canadian championship' in row['X'].lower() or\
        'club performance club' in row['X'].lower() or\
        'reimond manco' in row['X'].lower() or\
        'wpsl' in row['X'].lower() or\
        'league cup' in row['X'].lower() or\
        'Luis GarcÃ­a Sanz' in row['X'] or\
        'matty blythe' in row['X'].lower() or\
        'persibo bojonegoro' in row['X'].lower() or\
        'marcelo estigarribia' in row['X'].lower() or\
       'jorge valdano' in row['X'].lower()):
        football_indexs.append(index)
print (len(football_indexs))
dtf.loc[football_indexs, 'y'] = 'football'

92

In [18]:
# dtf.head()

In [28]:
soccer_indexs = []
for index, row in dtf[dtf['y'] == 'football'].iterrows():
    if ('world cup' in row['X'].lower() or\
        'npsl' in row['X'].lower() or 
#        'hakeem nicks' in row['X'].lower() or 'nfl'  in row['X'].lower() or\
#         'alan risher' in row['X'].lower() or\
#         'jamie heaslip' in row['X'].lower() or\
#         'kitch christie' in row['X'].lower() or\
#         'jamie heaslip' in row['X'].lower() or\
#         'fred besana' in row['X'].lower() or\
        
       'afc' in row['X'].lower() or\
        
        'soccer' in row['X'].lower() or\
        'county cup' in row['X'].lower() or\
        'russian championship'  in row['X'].lower() or\
        'fifa' in row['X'].lower() or\
       'mcgrath cup' in row['X'].lower() or 'balkans cup' in row['X'].lower() or\
        'CE JÃºpiter' in row['X'] or\
        'canadian championship' in row['X'].lower() or\
        'club performance club' in row['X'].lower() or\
        'reimond manco' in row['X'].lower() or\
        'wpsl' in row['X'].lower() or\
        'league cup' in row['X'].lower() or\
        'Luis GarcÃ­a Sanz' in row['X'] or\
        'matty blythe' in row['X'].lower() or\
        'persibo bojonegoro' in row['X'].lower() or\
        'marcelo estigarribia' in row['X'].lower() or\
       'jorge valdano' in row['X'].lower()):
        soccer_indexs.append(index)
print (len(soccer_indexs))
dtf.loc[soccer_indexs, 'y'] = 'soccer'

55

In [29]:
racing_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('racing' in row['X'].lower() or 'drive' in row['X'].lower() or 'red bull' in row['X'].lower() or\
       ' car ' in row['X'].lower() or\
        'carlos pairetti' in row['X'].lower() or\
        'road' in  row['X'].lower()):
        racing_indexs.append(index)
print (len(racing_indexs))
dtf.loc[racing_indexs, 'y'] = 'racing'

31

In [30]:
tennis_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('wimbledon championships' in row['X'].lower() or\
        'ulrich pinner' in row['X'].lower() or\
        'tennis' in row['X'].lower()):
        tennis_indexs.append(index)
print (len(tennis_indexs))
dtf.loc[tennis_indexs, 'y'] = 'tennis'

4

In [32]:
other_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('volleyball' in row['X'].lower() or\
        'tennis' in row['X'].lower() or\
        'skating' in row['X'].lower() or 'cricketer' in row['X'].lower() or\
       'swim' in row['X'].lower() or 'chess' in row['X'].lower() or\
    'badminton' in row['X'].lower() or 'baseball' in row['X'].lower() or\
       'bowling' in row['X'].lower() or 'boxing' in row['X'].lower() or\
        'atlanta flames season' in row['X'].lower() or\
        'julien leparoux'  in row['X'].lower() or\
        'South Panola School District' in row['X'] or\
        'Reggie Lewis Track and Athletic Center'  in row['X'] or\
         #'baseball'
       'cleveland indians season' in row['X'].lower() or\
        # hockey
        'hockey' in row['X'].lower() or\
       'ottawa senators season' in row['X'].lower() or\
       'warsaw cup' in row['X'].lower() or\
       'handball' in  row['X'].lower() or\
     'norwegian bandy premier league' in  row['X'].lower() or\
       'curling' in row['X'].lower() or\
        #bike
       'bike' in row['X'].lower() or\
        'motorcycle' in row['X'].lower() or\
        'vuelta' in row['X'].lower() or\
       'track cycling' in row['X'].lower() or\
       'betfred league of legends' in row['X'].lower() or\
        'hautacam' in row['X'].lower() or\
        'paolo angioni' in row['X'].lower() or\
        #golf
       'masters tournament' in row['X'].lower() or\
        'the big break' in row['X'].lower() or\
        'Criterium of Polish' in row['X'] or\
        'MiklÃ³s NÃ©meth (athlete)' in row['X'] or\
       'world games'  in row['X'].lower()):  
        other_indexs.append(index)
print (len(other_indexs))
dtf.loc[other_indexs, 'y'] = 'other sports'

72

In [33]:
basketball_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('basketball' in row['X'].lower() or 'fiba' in row['X'].lower() or 'nba' in row['X'].lower() or\
       'euroleague' in row['X'].lower()):
        basketball_indexs.append(index)
print (len(basketball_indexs))
dtf.loc[basketball_indexs, 'y'] = 'basketball'

19

In [34]:
with open('./source/wiki_dtf.pickle', 'wb') as handle:
    pickle.dump(dtf,handle)

In [41]:
dtf['y'].unique()

array(['science', 'basketball', 'soccer', 'racing', 'other sports',
       'tennis', 'society', 'music', 'book', 'movie', 'games', 'football',
       'media'], dtype=object)

In [42]:
dtf.loc[dtf['y'].isin(['basketball', 'soccer', 'racing', 'other sports', 'tennis', 'football']), 'y'] = 'sports'
dtf.loc[dtf['y'].isin(['music', 'book', 'movie', 'media']), 'y'] = 'arts'

In [44]:
dtf.loc[dtf['y'].isin(['music', 'book', 'movie', 'media']), 'y'] = 'arts'

In [45]:
dtf['y'].unique()

array(['science', 'sports', 'society', 'arts', 'games'], dtype=object)

In [46]:
# dtf[dtf['y'] == 'book'].head()
with open('./source/wiki_coarse_dtf.pickle', 'wb') as handle:
    pickle.dump(dtf,handle)